.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-basis: 50% 50%;
}
.mainContainer2 {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.foodOverlay {
  position: relative;
  top: 0;
  margin-top: 40px;
}
.heroText {
  color: #2e266f;
  font-size: 72px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.foodImage {
  width: 922px;
  height: 914px;
  position: relative;
  margin-top: 50px;
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: "40%";
  height: "40%";
  z-index: -10;
  opacity: 44%;
}
.image2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: "40%";
  height: "40%";
  z-index: -10;
  opacity: 44%;
}
.section2 {
  display: flex;
  justify-content: space-between;
  padding-top: 140px;
  align-items: flex-start;
  width: 100% !important;
}
.section2_text {
  font-size: 49px;
  font-family: "Poppins", sans-serif;
  height: 118px;
  width: 50%;
  border-left-width: 22px;
  border-left-color: #fe043c;
  border-left-style: solid;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-weight: 600;
  color: #2e266f;
}

.section2_text2 {
  font-size: 30px;
  width: 50%;
  font-family: "Poppins", sans-serif;
  color: #707070;
  height: 155px;
}
