.navContainer {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: "center";
  margin-top: 24px;
  z-index: 99;
}
.links {
  align-items: center;
  height: 100%;
  display: flex;
}
.links span {
  margin-right: 80px;
  color: #2e266f;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.logo {
  margin-right: 160px;
}
